
<div id=form>
  
  <%= form_for(@site) do |f| %>
  
  <%= render 'shared/errors' %>
  
  <div>
    <%= f.label :site %>
    <%= f.text_field :site %>
  </div>
  
  <div>
    <%= f.label :date %>
    <%= f.text_field :date, value: Date.today.to_formatted_s(:long_ordinal) %>
  </div>
  
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  
  <div>
    <%= f.submit "Save" %>
  </div>

</div>
<% end %>
  
