<h1> Site Info Page </h1>
<p>  Here is the info for <%= @site.site %></p>
<p> created on <%= @site.date %> </p>
<p> <%= @site.description %> </p>
<p> <%= link_to @site.url, "http://#{@site.url}" %> </p>
<%= link_to "Back to Site List", root_path %>
