<h1> Site Info Page </h1>
<p>  Here is the info for <%= @site.site %></p>
<p> created on <%= @site.date %> </p>
<p> <%= @site.description %> </p>
<p> <%= link_to @site.url, "http://#{@site.url}" %> </p>
<%= link_to "Edit ", edit_site_path %>
<%= link_to "Delete", site_path(@site), method: :delete %>
