<h1> Site Info Page </h1>
<p>  Here is the info for <%= @site.name %></p>
<p> created on <%= @site.date %> </p>
<p> The site is <%= @site.site %> </p>
<p> <%= @site.description %> </p>
<p> <%= link_to @site.url %> </p>
<%= link_to "Back to Site List", root_path %>
